* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Lato', 'Arial', sans-serif;
}

/* header */
header {
    margin: 0 auto;

    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1020px;
}
.header-logo
h1 {
    color: #fff;
    text-transform: uppercase;
    padding: 35px 0 32px 40px;

    font-size: 24.29px;
    font-weight: bold;
    line-height: 0.7;
}
.header-logo 
.header-dot {
    color: #f06c64;
}

.nav-menu {
    padding: 35px 40px 32px 0px;
}
.nav-menu
li {
    display: inline;

    color: #fff;
    text-transform: uppercase;
    font-size: 11.66px;
    font-weight: bold;
    line-height: 0.7;
}
.nav-menu
li:hover {
    color: #f06c64;
    cursor: pointer;
}
.nav-menu-dot {
    margin: 0 10px;

    color: #494e62;
    vertical-align: 3px;
}

/* slider */
.content-slider {
    height: 695px;

    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.slider-wrapper {
    width: 1020px;
    margin: 0 auto;
}



.content-services {
    height: 500px;

    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}