* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Lato', 'Arial', sans-serif;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/* get a quote */
.get-a-quote {
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
}
.wparpper_get-a-quote {
    width: 940px;
    margin: 0 auto;
}
.get-a-quote__description {
    color: #f0d8d9;
}
.get-a-quote__description
h2 {
    padding-top: 60px;

    font-size: 30px;
    font-weight: 900;
}
.get-a-quote__description
p {
    padding: 18px 0 41px 0;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
}

.get-a-quote__form {
    display: flex;
    justify-content: space-between;
}
.form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.form
input,
.form
textarea {
    width: 595px;
    margin-bottom: 16px;
    padding: 12px;

    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;

    color: #f0d8d9;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Lato', 'Arial', sans-serif;
}
.form
input[type="submit"] {
    width: 80px;
    margin-bottom: 11px;
}
.form
input::-webkit-input-placeholder,
.form
textarea::-webkit-input-placeholder {
    color: #ec7f80;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Lato', 'Arial', sans-serif;
}
.form
textarea {
    resize: none;
    height: 178px;
}

.get-a-quote__form__description {
    color: #f0d8d9;
}
.get-a-quote__form__description
h3 {
    font-size: 18px;
    font-weight: 900;
}
.get-a-quote__form__description
p {
    padding-top: 10px;

    font-size: 12px;
    font-weight: normal;
    line-height: 1.8;
    letter-spacing: -0.2px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    font-size: 12px;
    font-weight: normal;
}
.contact-info__item {
    padding: 0 0 0 2px;
    margin-bottom: 6px;
}
.contact-info__item
a {
    padding-left: 10px;

    text-decoration: none;
    color: #f0d8d9;
}

/* footer */

.footer {
    background-color: #2d303a;
}
.wrapper_footer {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__copy {
    padding: 30px 0 31px 0;

    color: #666d89;
    font-size: 12px;
    font-weight: normal;
}
.footer__links {
    padding-top: 20px;
}
.footer__links__social-ico_item {
    padding-left: 4px;
}
.footer__links__social-ico_item:hover {
    cursor: pointer;
}